<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594436063221-fpn2marmilha07tllfk8o8npsnoouk9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594436063221-fpn2marmilha07tllfk8o8npsnoouk9u</string>
	<key>API_KEY</key>
	<string>AIzaSyDe1EcnBBkIZs5QgjCaKQp6YwBWepxODi4</string>
	<key>GCM_SENDER_ID</key>
	<string>594436063221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carbonetx.carbonetx</string>
	<key>PROJECT_ID</key>
	<string>carbonetx-5ba2c</string>
	<key>STORAGE_BUCKET</key>
	<string>carbonetx-5ba2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594436063221:ios:e06dae2ec8d052bc37aabc</string>
	<key>DATABASE_URL</key>
	<string>https://carbonetx-5ba2c.firebaseio.com</string>
</dict>
</plist>